<section>
  <h2>Recent Posts</h2>

  <ul class="list posts">
    <% _.each(posts, function(post) { %>
      <li class="comp">
        <% if (post.thumbnail) { %>
          <aside>
             <img src="<%= post.thumbnail %>" height="80px">
          </aside>
        <% } %>  
        <div>
           <h3><%= post.title %></h3>
           <!-- <h4><%= post.author.name %></h4> -->
           <!-- <p><%= post.excerpt %></p> -->
        </div>
         <aside>
            <span class="show-detail"></span>
         </aside>
      </li>
    <% }); %>
  </ul>  
</section>